.navHead{
    color: honeydew;
    font-family: Arial, Helvetica, sans-serif;
}
.jumbotron {
    text-align: center;
    background-color: gray;
    color: honeydew;
    font-family: Arial, Helvetica, sans-serif;
}