
.jumboHead {
    text-align: center;
    background-color: gray;
    color: honeydew;
    font-family: Arial, Helvetica, sans-serif;
    /* position: fixed; */
    z-index: 1;
    width: 100%;
    padding: 0;
}

/* .firstRow{
    margin-top: 25%;
} */

.separator {

  padding: 20px;

}

.mapcanvas {

  width: 900px; 
  height: 300px;

}

.jumboBottom{
    margin-top: 5%;
    padding-top: 15px;
    width: 100%;
    text-align: center;
    /* padding: 0; */
}
